ul,
li {
    margin: 0;
    padding: 0;

}

.statistics {
    margin: 40px;
    padding: 0;
    width: 300px;
    border: 1px solid grey;
    text-align: center;
}

.title {
    color: #52575c;
    padding: 15px;
}
.stat-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}
.item {
    width: 50px;
    padding: 15px;
}

.percentage {
    display: block;
}